<h2><%= @competition.name %></h2>
<p>
  <%= @competition.description %>
</p>

<h3>News</h3>
<ul id="news">
  <% for news in @competition.news %>
    <li><date><%= l news.created_at, :format => :short %></date><%= news.content %></li>
  <% end %>
</ul>